html, body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0;
    margin: 0;
}

.app {
    display: flex;
    justify-content: center;
}

.calendar {
    width: 500px;
    padding: 20px;
}

.todos {
    width: 500px;
    padding: 20px;
}

@media screen and (max-width: 1080px) {
    .app {
        flex-direction: column;
        align-items: center;
    }
    .calendar {
        box-sizing: border-box;
        width: 500px;
    }
    .todos {
        box-sizing: border-box;
        width: 500px;
    }
}

@media screen and (max-width: 500px) {
    .calendar {
        width: 100%;
    }
    .todos {
        width: 100%; 
    }
}

.new-todo-container {
    padding-bottom: 20px;
}

button:focus{
    outline: none;
}

.todo-button {
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    white-space: nowrap;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    letter-spacing: .07em;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 3px;
}

.todo-button {
    background-color: white;
}

.todo-button:hover {
    color: white;
}

.todo-start {
    border-color: #0062cc;
    color: #0062cc; 
}
.todo-start:hover {
    background-color: #0062cc;
}
.todo-finish {
    border-color: #1e7e34;
    color: #1e7e34; 
}
.todo-finish:hover {
    background-color: #1e7e34;
}
.todo-stop {
    border-color: #117a8b;
    color: #117a8b; 
}
.todo-stop:hover {
    background-color: #117a8b;
}
.todo-reset {
    border-color: #117a8b;
    color: #117a8b; 
}
.todo-reset:hover {
    background-color: #117a8b;
}
.todo-delete {
    border-color: #bd2130;
    color: #bd2130; 
}
.todo-delete:hover {
    background-color: #bd2130;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px 0;
}

.event {
    padding: 0 20px 20px 0;
    display: flex;
    justify-content: space-between;
}

.first-event {
    font-size: 20px;
}

.working-on-container {
    font-size: 20px;
}