html, body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0;
    margin: 0;
}

.app {
    width: 100%;
    height: 100%;
}

.main-content {
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: opacity .25s;
}

.main-content.hidden {
    opacity: 0;
}

.calendar {
    width: 500px;
    padding: 20px;
}

.todos {
    width: 500px;
    padding: 20px;
}

@media screen and (max-width: 1080px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }
    .calendar {
        box-sizing: border-box;
        width: 500px;
    }
    .todos {
        box-sizing: border-box;
        width: 500px;
    }
}

@media screen and (max-width: 500px) {
    .calendar {
        width: 100%;
    }
    .todos {
        width: 100%; 
    }
}