.calendar-header {
    margin-bottom: 30px;
}

.event {
    padding-left: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.current-event-container {
    font-weight: 700;
}

.relative-time {
    padding-right: 10px;
    font-weight: 500;
}